<ul class="nav navbar-nav">
    <li> <a href="{{ url('new_faculty')}}">{{ 'Facultati' |trans }}</a></li>
    <li> <a href="{{ url('new_course')}}">{{ 'Materii' |trans }}</a></li>
    <li> <a href="#">Studenti</a></li>
    <li> <a href="#">Profesori</a></li>
</ul>
