{% extends 'AppBundle::base_admin.html.twig'%}

{% block heading %}<h1>Introducere materii</h1>{% endblock %}
{% block content %}
    <div class="container no-padding">
        <div class="row">
            <div class="col-md-9 no-padding" >
                {{ form_start(courseForm) }}
                {{ form_row(courseForm.faculty, {'attr':{'class': 'select2' }}) }}
                
                {{ form_end(courseForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#legalHoliday_form_insert").prepend('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>');
        $(document).ready(function(){
            
            $(".select2").select2();
        });
    </script>
{% endblock %}